<div class="Fluid-container">
  <div class="Row-1">

      <div class="Column-1">
          <img src="images/jacob.jpg" alt="Photo of Jacob">
          <h2>Jacob Solvang</h2>
          <p><div id="italics">Software Developer</div></p>
      </div>

      <div class="Column-2">
          <h2>Bio:</h2>
          <p>
              <span>A 19 year old majoring in Application Development at Bellevue College.</span>
              <br>
              <div id="bold">Education:</div>
          </p>
          <ul>
              <li>High School Diploma (2020)</li>
              <li>Associates in Arts and Sciences (2020)</li>
              <li>Introductory C++ Certificate (2021)</li>
          </ul>
      </div>

  </div>
  <div class="Row-2">

  </div>
</div>