<div class="Fluid-container"></div>
    <div class="resource-content">

        <h1>Project Profile</h1>

        <p class="foo">
            <a href="#problem">About Our Project</a> | 
            <a href="#solution">Our Path</a> | 
            <a href="#contributions">My Role</a> |
            <a href="#tryitout">Try it</a> |
            <a href="#experience">Conclusion</a>
        </p>

        <div id="profile">

            <h2 id="problem">About Our Project</h2>

            <div id="message">
                <h3>Our Message</h3>
                <p>Our team set out to create an adorable cat themed game in the popular match-3 made famous by games such as Candy Crush and Bejeweled. Similarly to these famous games, our game rewards players with a rush of dopamine for each match of 3, 4, and 5 cat tiles.</p>
            </div>
            <br />

            <div id="concept-analysis">
                <h3>About the Game</h3>
                <p>Tile-matching games such as Candy Crush and Bejeweled have been played and loved by millions for decades. A player is shown an 8x8 grid randomly filled with differently colored items, one item in each grid space. The player can swap any one item with another adjacent item. When matching three or more of the same item in one line, the matched items disappear and the player is awarded points. The award is greater the larger the matched group is. There is no win or loss condition; the player’s goal is simply to maximize the number of points earned in the least amount of turns. Kitty Combos will be a cat-themed tile-matching game with score-tracking and an online leaderboard.</p>
            </div>
            <br />

            <div id="scope">
                <h3>Features</h3>
                <p>The project has several main mechanics:</p>
                <ul>
                    <li>Fully interactable board</li>
                    <li>Tile images sourced from API</li>
                    <li>Tile swapping with restrictions</li>
                    <li>Decreasing turn counter</li>
                    <li>Score calculation</li>
                    <li>Leaderbard powered by database to host scores</li>
                </ul>
            </div>
            <br />

            <div id="future">
                <h3>Kitty Combos V2</h3>
                <p>We brainstormed several ideas for expanding our game in the future, given we have adequate time and funding.</p>
                <ul>
                    <li>In the future, we'd like to include levels where tiles populate various board shapes and sizes.</li>
                    <li>Implement a timer.</li>
                    <li>Reduce turn count.</li>
                    <li>A "frantic" tile mode using gifs instead of images.</li>
                    <li>Check for potential matches to make sure the board is solvable.</li>
                    <li>Implement responsive board size.</li>
                    <li>Add keyboard/controller support for accessibility and ADA compliance.</li>
                </ul>
            </div>
            <br />
            <h2 id="solution">Our Path to Finding The Perfect Match</h2>
            <h3 id="tools">Tools</h2>
            <p>Our group had several tools at our disposal to achieve our goals.</p>
            <ul>
                <li>Documentation</li>
                <li>Server</li>
                <li>API</li>
                <li>Database</li>
            </ul>
            <br />
            <p>Each member of our group had certain dispositions towards these tools.</p>
            <ul>
                <li>Gabriel Blake: Leaned towards server and database.</li>
                <li>Yacquub Egal: Was drawn towards testing others' work to make sure they line up with the documentation.</li>
                <li>Lori Latchinian: Worked heavily on the documentation, server, and database.</li>
                <li>Edward Matsyshen: Constructed the game bible and other crucial documentation.</li>
                <li>Jacob Solvang: Contributed to documentation, server, and the API.</li>
            </ul>
            <br />
            <p>It was these inclinations that lead us to develop our project parts.</p>
            <p>Each week, we worked together in audio calls where we planned out our work on Tuesday and merged our work on Saturday.</p>
            <br />
            <h2 id="contributions">My Role in Our Project</h2>

            <div id="htmlcss">
                <h3>HTML/CSS (Visual)</h3>
                <p>I was in charge of structuring the framework of our site with HTML and styling it with CSS.</p>    
            </div>
            <br />
            <div id="wireframes">
                <h3>Wireframes</h3>
                <p>I created wireframes to guide myself and my group in the task of building out the site.</p>
                <br />
                <h4>Page</h4>
                <div is="compare">
                    <img src="/images/pageoutline0.PNG" width="35%">
                    <img src="/images/pageoutline1.PNG" width="29.5%">
                </div>
                <br />
                <h4>Gameplay (Menu)</h4>
                <div is="compare">
                    <img src="/images/gameplay0.PNG" width="33.5%">
                    <img src="/images/gameplay1.PNG" width="31%">
                </div>
                <br />
                <h4>Gameplay (Canvas)</h4>
                <div is="compare">
                    <img src="/images/canvas0.PNG" width="31.65%">
                    <img src="/images/canvas1.PNG" width="32.85%">
                </div>
                <br />
                <h4>Leaderboard</h4>
                <div is="compare">
                    <img src="/images/leaderboard0.PNG" width="32.4%">
                    <img src="/images/leaderboard1.PNG" width="32.1%">
                </div>
            </div>
            <br />
            <div id="programming">
                <h3>HTML/CSS/JavaScript (Technical)</h3>
                <p>I spent a large amount of the first week scaffolding the site. Due to being the sole creator of the wireframe diagrams in our documentation - based off of the descriptions provided by our group, I felt a drive to be the one to put them into practice. I spent a majority of my first week developing, building, maintaining, and updating the formatting to accommodate Lori's gameplay and Gabriel's leaderboard.</p>
                <p>To allow for easy access to multiple "pages" without redirecting to different pages, I created 3 toggleable divs called [gameplay], [leaderboard], and [game-over]. These "pages" contain the necessary content elements to support all of our site goals:</p>
                <ul>
                    <li>[Gameplay] acts as both a start menu and the page on which the game is played.</li>
                    <li>[Leaderboard] exists to display both the player's score as well as the global top 16 scores.</li>
                    <li>[Game Over] display's the player's score from the completed game and allows them to submit their score to the global leaderboards.</li>
                </ul>
                <img src="/images/titleScreen.PNG" width="50%">
            </div>
    
            <div id="api">
                <h3>Api</h3>
                <p>Learning to use asynchronous functions took me many hours of work over the first two weeks of the programming process, but ended up massively paying off. I plan to look into asynchronous functions, fetching, awaiting, responses, and promises in the future to expand my knowledge.</p>
                <img src="/images/apisource.PNG">
                <p>I designed the API fetch code above to be easily modified for future use.</p>
                <br />
                <h3>Example:</h3>
                <img id="api-ex" alt="Loading" width="50%">
                <p>Try refreshing the page to load a different image...</p>
                <br />
            </div>

            <div id="tryitout">
                <h3>Try it Out</h3>
                <p>Wanna try it out? Go to <a href="http://kittycombos.hopto.org/" target="_blank">kittycombos.hopto.org</a> or click the button below:</p>
                <form action="http://kittycombos.hopto.org/" target="_blank">
                    <input id="playgame" type="submit" value="PLAY KITTY COMBOS!!!">
                </form>
            </div>

            <div id="experience">
                <h2>My Thoughts</h2>
                <h3>Lessons Learned</h3>
                <p>Wow, it's hard to believe this project is over. I've invested so much time into this project that I'm not sure I want it to end. That said, I am very proud of my work and am ready to move on to newer projects. Over the last seven and a half weeks, I have learned how to work in a group on projects. If I had to take away three things from this project it would be these:</p>
                <ul>
                    <li>Document everything!</li>
                    <li>Schedule frequently.</li>
                    <li>Separate work for easy merge.</li>
                </ul>
                <p>Documentation will save your life. I have had multiple times where I have been stuck/lost only to find hope and a solution in the already written documentation. My own wireframes saved me probably a dozen hours of trial and error due to the restrictions of mapping everything out ahead of time with tables in Microsoft Word.</p>
                <p>Scheduling is immensely important in a group environment where everyone is counting on each other to produce the resources required to proceed (documentation/code/server). It is incredibly important to foster an atmosphere of collaboration where all team members can contribute on time and as needed.</p>
                <p>What's also important is working together with separate content. When multiple people are working on various functions, it is important to make sure you don't override someone else's work on merge. This is why my api code is separate from the main script and the game logic. This separation allows me to edit to my heart's content and then ask Gabriel (merge manager) to commit my work to the main branch without overwriting any of the unmodified files.</p>
                <br />
                <h3>My Connection</h3>
                <p>This project, especially my API code, means a lot to me. I invested a lot of my time this quarter on making sure this project works and lives up to the standards set by the design documents. I have sacrificed sometimes multiple days of sleep in a row to balance this project with my other classes and job. As such, I am very proud of this project and all the hard work it represents. I am glad to have worked with the group I did and look forward to collaborating with them in future classes. This project inspires confidence in me to continue to learn and pursue web development on the server side, academically, something I always worried was above my skill set. I feel more secure in my future career as I gain a better grasp of the concepts. Through this project I feel as though I have strengthened my teamwork, github, and API skill sets.</p>
                <br />
                <h3>Where it Almost Went Wrong</h3>
                <p>One of the requirements for the individual assignment was a link from this very project page to a running version of our game. Our primary issue was the requirement of a database to hold scores, a database we programmed to only run on node. Lori, Gabriel, and I knocked our heads against the wall for several hours from early in the day till late. After struggling with the Google virtual machines, where the Oregon server was out of resources, and encountering various issues with nginx routing having to do with our own limited knowledge, Gabriel was the one to solve the issue and save our project. The experience really put into perspective how little I actually know about server routing. It was a humbling experience that, thanks to Gabriel's breakthrough, encourages me to learn more.</p>
                <br />
                <h3>To Those on The Same Path</h3>
                <p>For anyone compelled to embark on the same journey, my advice to you is this. Learn from my lessons. Always document everything you do. Spend at least a week writing out, step by step, your plans and goals. These will be the driving force that keeps you going when motivation runs out. In a group, this documentation is even more important as it is vital to your team members understanding your thought process. In a group setting, communication is key. Always set aside time in the week to check in with your team to make sure everyone is on track. In an ideal world, I recommend doing one planning meeting at the start of the week and one check in meeting at the end of the week to make sure everyone is performing in their best environment with all the tools they need is highly important. Additionally, separating out and commenting code is a necessity in supporting both yours and your group's sanity. Lastly, but not least, have fun. These large projects can be frustrating, but the source of triumph and relief at the end is worth it.</p>
            </div>
        </div>
        <br />
    </div>
<br />
</div>
<script src=".\assets\js\api.js"></script>