<div class="Fluid-container"></div>
    <div class="resource-content">

        <h1>Project Profile</h1>

        <div id="profile">

            <h2 id="problem">Introducing the Problem</h2>

            <div id="message">
                <h3>Our Message</h3>
                <p>Our team set out to create an adorable cat themed game in the popular match-3 made famous by games such at Candy Crush and Bejeweled. Similarly to these famous games, our game rewards players with a rush of dopamine for each match of 3, 4, and 5 cat tiles.</p>
            </div>
            <br />

            <div id="concept-analysis">
                <h3>Concept Analysis</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <br />

            <div id="scope">
                <h3>Scope</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <br />

            <div id="future">
                <h3>Future</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <br />
    
            <h2 id="contributions">My Contributions</h2>
            
            <div id="wireframes">
                <h3>Wireframes</h3>
                <img src="https://lh3.googleusercontent.com/ORjTrOtMegfZ_Fz4TjlyVtwSUfNB42ZYX297DY6kwc_OMJXSsbpGEsxPB2JYner9URfDOd2rBhtHQqeGdcQY5x7BBJxf0-ncVyr4bN_9kbF6PuslKHrE90YsWqnW64p4zJH2bW9piAqX0am5zebIKGetvOsxiY28vuDoF5ElrjWiDEG0OYtycUX3QgluIw">
            </div>

            <div id="programming">
                <h3>HTML/CSS/JavaScript</h3>
                <p>I spent a large amount of the first week scaffolding the site. Due to being the sole creator of the wireframe diagrams in our documentation - based off of the descriptions provided by our group, I felt a drive to be the one to put them into practice. I spent a majority of my first week developing, building, maintaining, and updating the formatting to accomodate Lori's gameplay and Gabriel's leaderboard.</p>
                <p>To allow for easy access to multiple "pages" without redirecting to different pages, I created 3 toggleable divs called [gameplay], [leaderboard], and [game-over]. These "pages" contain the necessary content elements to support all of our site goals:</p>
                <ul>
                    <li>[Gameplay] acts as both a start menu and the page on which the game is played.</li>
                    <li>[Leaderboard] exists to display both the player's score as well as the global top 16 scores.</li>
                    <li>[Game Over] display's the player's score from the completed game and allows them to submit their score to the global leaderboards.</li>
                </ul>
                <img src="/images/titleScreen.PNG">
            </div>
    
            <div id="api">
                <h3>Api</h3>
                <p>Learning to use asynchronous functions took me many hours of work over the first two weeks of the programming process, but ended up massively paying off. I plan to look into asynchronous functions, fetching, awaiting, responses, and promises in the future to expand my knowledge.</p>
                <img id="api-ex" alt="Loading">
            </div>
        </div>
        <br />
    </div>
<br />
</div>
<script src=".\assets\js\api.js"></script>