<div class="Fluid-container">
    <div class="resource-content">

        <h1>Web Resources</h1>

        <p class="foo">
            <a href="#a">W3schools</a> | 
            <a href="#b">CodeCademy</a> | 
            <a href="#c">W3C Markup Validation Service</a> |
            <a href="#d">YouTube</a> |
            <a href="#e">Khan Academy</a> |
            <a href="./">Main</a>
        </p>

        <ol>

            <li>
                <p id="a">
                    <a target="_blank" href="https://www.w3schools.com/">W3schools</a><br />
                    <span>W3schools is an incredible online library of programming videos and tutorials. Visitors can access hundreds of modifiable programming lessons for free.</span>
                    <ul>
                        <li><a target="_blank" href="https://www.w3schools.com/html/default.asp">HTML</a></li>
                        <li><a target="_blank" href="https://www.w3schools.com/css/default.asp">CSS</a></li>
                        <li><a target="_blank" href="https://www.w3schools.com/js/default.asp">JavaScript</a></li>
                    </ul>

                    <span id="italics">I have used this resource for more than five years now, and I will continue to use it as a reference for many more to come.</span><br />
                    <span id="bold">Rating: 5/5</span>
                </p>
            </li>

            <li>
                <p id="b">
                    <a target="_blank" href="https://www.codecademy.com/">Code Cademy</a><br />
                    <span>Yet another online library of programming videos and tutorials, this one geared more towards learning quickly and efficiently in large quantities.</span>
                    <ul>
                        <li><a target="_blank" href="https://www.codecademy.com/learn/learn-html">HTML</a></li>
                        <li><a target="_blank" href="https://www.codecademy.com/learn/learn-css">CSS</a></li>
                        <li><a target="_blank" href="https://www.codecademy.com/learn/introduction-to-javascript">JavaScript</a></li>
                    </ul>

                    <span id="italics">I have heard nothing but good things about this resource and I look forward to using it further in the future.</span><br />
                    <span id="bold">Rating: 5/5</span>
                </p>
            </li>

            <li>
                <p id="c">
                    <a target="_blank" href="https://validator.w3.org/">W3C Markup Validation Service</a><br />
                    <span>W3C is a great resource for verifying the integrity of your webpage HTML.</span><br />
                    <span id="italics">I have used this resource in previous classes and and recommend it as a must have in the process of finalizing your webpages for launch.</span><br />
                    <span id="bold">Rating: 4/5</span>
                </p>
            </li>

            <li>
                <p id="d">
                    <a target="_blank" href="https://www.youtube.com/">YouTube</a><br />
                    <span>YouTube is amazing for listening to software developers discuss the programming process, problem solving, and what programmers wish they did when starting their programming journeys.</span>
                    <ul>
                        <li><a target="_blank" href="https://youtu.be/k9WqpQp8VSU">Software Problem Solving and Learning</a></li>
                    </ul>

                    <span id="italics">I often surf YouTube to learn about programming techniques and stay inspired.</span><br />
                    <span id="bold">Rating: 4/5</span>
                </p>
            </li>

            <li>
                <p id="e">
                    <a target="_blank" href="https://www.khanacademy.org/">Khan Academy</a><br />
                    <span>The last online library of programming videos and tutorials on this list, this one geared more towards younger audiences.</span>
                    <ul>
                        <li><a target="_blank" href="https://www.khanacademy.org/computing/computer-programming/html-css">HTML and CSS</a></li>
                        <li><a target="_blank" href="https://www.khanacademy.org/computing/computer-programming/programming">JavaScript</a></li>
                        <li><a target="_blank" href="https://www.khanacademy.org/computing/computer-programming/sql">SQL</a></li>
                    </ul>

                    <span id="italics">I took these tutorials when I was in middle school and they didn't do a great job of setting me up for success. My biggest issue now is them introducing JavaScript before HTML and CSS, however, I can see their value, now.</span><br />
                    <span id="bold">Rating: 2/5</span>
                </p>
            </li>
        </ol>

        <br />

    </div>

    <br />

</div>